/*Main search query bar*/
div.row-widget.stTextInput.css-pb6fr7.edfmue0 {
    border: 1px solid #FFFFFF;
}

/*Date selection bar*/
div.st-b3.st-b8 {
    border: 1px solid #FFFFFF;
    border-radius: 1px;
}

/* Response section */
/* div.st-dt, div.css-142g7f.e1tzin5v0, div.st-cn.st-e5.st-b6.st-b5.st-ar {
    background-color: #202E33;
    padding: 6px;
    border-radius: 2px;
}
 */

/* Tab buttons - Response and Sources
#tabs-bui12-tab-0, #tabs-bui12-tab-1, #tabs-bui19-tab-0, #tabs-bui19-tab-1 {
    background-color: #202E33;
    padding: 3px;
} */

/* div.element-container.css-1hynsf2.e1tzin5v3 {
    background-color: #202E33;
    padding: 3px;
} */